* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.hero-section {
 height: 100vh;
 width: 100%;
 background: url(/images/fog-woman-power-fist.jpg);
 background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;

}

.btn:hover {
    opacity: 0.6;
    transform: scale(0.8)
  }

.signin-signup-modal {
    z-index: 1;
    position: fixed;
    display: none;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #bb7a03;
    width: max-content;
    margin: auto;
    position: absolute;
    left: 50%;
    padding: 15px;
    opacity: 100%;
}

.modal-content h2 {
    text-align: center;
    color: #fff;
}

.modal-content span {
    text-align: center;
    color: #fff;
    margin-right: auto;
}

.fadeIn {
    opacity: 100%;
    -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -ms-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3 ease-in;
}

.fadeOut {
    opacity: 100%;
    transition: opacity 0.3s ease-out;
    -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
 
}

.login-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    color: #fff;
}

.login-form input {
    border-radius: 5px;
    border: none;
}

.login-form button {
    margin: 10px;
}

.login-form span {
    margin: 10px;
}

.login-form a {
    text-decoration: none;
    color: #fff;
}



.signup-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    color: #fff;
    position: absolute;
    left: 5%;
    top: 15%;
    display: none;
}

.signup-form input {
    border-radius: 5px;
    border: none;
}

.signup-form button {
    margin: 10px;
    
}

input {
    cursor: pointer;
}


.forgot-pword {
    text-align: center;
}
.remember-login {
    text-align: center;
}

.close {
    margin-right: 10px;
    font-size: 2rem;
    cursor: pointer;
}

.close:hover {
    opacity: 50%;
    text-decoration: none;
}

.hero-title {
    color: #fff;
    margin: 1rem;
    font-size: 3.4rem;
    position: absolute;
    top: 10%;
}

.nested-title {
    color: #bb7a03;
}


.call-to-action {
  overflow: hidden;
    color: #fff;
    font-size: 1.2rem;
    margin: 1.5rem;
    position: absolute;
    top: 40%;
    /* z-index: 1; */
}

.hero-form {
    background-color: #bb7a03;
    height: max-content;
    padding: 20px;
    border-radius: 20px;
    font-size: 0.8rem;
}

.hero-form label {
    font-size: 0.8rem;
}

.hero-form input[type=text] {
    font-size: 0.8rem;
    padding: 5px;
    margin-left: 5px;
    text-align: center;
}


.call-to-action input {
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}


.what-we-do {
    height: 200px;
    background-color: #bb7a03;
}

.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    /* height: 100%; */
    width: 100%;
    background-color: #bb7a03;
    color: white;
    text-align: center;
 }

.footer h5 {
}
